<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Webspace logo" class="db w4 center mb4 br0">

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Webspace</h3>
				<ul class="mb3">
					<li><a href="https://www.webspace.net.au/" class="link">Home</a></li>
					<li><a href="https://www.webspace.net.au/#services" class="link">Our Services</a></li>
					<li><a href="https://www.webspace.net.au/#about" class="link">About</a></li>
					<li><a href="https://www.webspace.net.au/#contact" class="link">Contact</a></li>
					<li><a href="https://blog.webspace.net.au/" class="link">Blog</a></li>
				</ul>
			</div>
			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/webspace.au/" "svg" "icons-facebook") }}

				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
