<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="https://www.webspace.net.au/#page-top" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Webspace logo" class="br0 db mb0 w-50"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="https://www.webspace.net.au/#services" class="pa3 no-underline db">Services</a></li>

		<li><a href="https://www.webspace.net.au/#about" class="pa3 no-underline db">About</a></li>

		<li><a href="https://www.webspace.net.au/#team" class="pa3 no-underline db">Team</a></li>

		<li><a href="https://www.webspace.net.au/#contact" class="pa3 no-underline db">Contact</a></li>
		
		<li><a href="https://blog.webspace.net.au/" class="pa3 no-underline db">Blog</a></li>
	</ul>

</nav>
